<!--
  ~ /**
  ~  * Created by Muhammet Ali YÜCE on 3/5/19 4:26 PM
  ~  * on Github: /mayuce
  ~  * Copyright (c) 2019 . All rights reserved.
  ~  * Last modified 3/5/19 3:43 PM
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.h4rz.documentscanner">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <dist:module
        dist:onDemand="true"
        dist:title="@string/documentscanner">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name="com.h4rz.documentscanner.ImageCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>